<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  
  <head>
	  <title>AppDorm - <%= @page_title %></title>
	  <%= stylesheet_link_tag    "application" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>

    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, height=device-height, user-scalable=yes" />
    
    <link rel="stylesheet" href="main.css" media="screen" />
  </head>
  <body>
    
    <h1>AppDorm</h1>
    <p>a private market for Android apps</p>
    
    <span class="section-header">
      <div class="img-left"><img src="Android_Market.png" width="64px"/></div>
      <h2><%= @page_title %></h2>
    </span>
    <img src="market-green-full-rule.png" width="450px"/>
    <br/>
    <br/>

		<%= yield %>

	</body>
</html>
